# Color files
.config/hypr/colors.conf
.config/waybar/colors.css
.config/ghostty/themes/colors

# Alt files
.config/hypr/hyprland.conf
.config/hypr/hypridle.conf
.config/wireplumber/wireplumber.conf.d/60-devices.conf
.config/pipewire/pipewire.conf.d/90-virtual-sinks.conf
