@import "mocha.css";

* {
    font-family: FiraCode Nerd Font;
    font-size: 20px;
    color: @text;
    /* 1 px = 0.05rem */
    font-weight: 400;
    background: alpha(@base, 0.8);
    border-radius: 8px;
}

window#waybar {
    background: transparent;
}

box {
    background: transparent;
}

image {
    background: transparent;
}

/* window#waybar.hidden { */
/*   opacity: 0.2; */
/* } */
/**/
/* #waybar.empty #window { */
/*   background: none; */
/* } */

/* .modules-right, */
/* .modules-center, */
/* .modules-left { */
/* 	background-color: @surface_container; */
/* 	border: 0.5px solid @surface_container; */
/* 	border-radius: 10px; */
/* 	padding-top: 2px; */
/* 	padding-bottom: 2px; */
/* 	padding-right: 4px; */
/* 	padding-left: 4px; */
/* } */

label,
button {
    background: transparent;
}

/* First section */
#custom-launcher {
    font-size: 1.2em;
    /*padding: 1px 4px 1px 13px;*/
    padding: .0em .2em .0em .5em;
    color: @sky;
}

#workspaces {
    padding: 0.05em 0.1em 0.05em 0.1em;
}

#workspaces button {
    padding-left: .25em;
    padding-right: .25em;
    border: none;
    box-shadow: none;
}

#workspaces button.active * {
    color: @teal;
}

#workspaces button.urgent * {
    color: @maroon;
}

#wireplumber,
#mpris,
#backlight,
#battery,
#clock {
    padding: 0.05em 0.4em 0.05em 0.4em;
}


#battery.warning.charging * {
    color: @text;
}

#battery.critical:not(.charging) {
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @maroon;
    }
}

#tray {
    padding: 0em 0.35em 0em 0.35em;
}

#tray>* {
    background: transparent;
}

#tray>*>* {
    padding: 0em .15em 0em .15em;
    opacity: .85;
}

#tray menu {
    background: transparent;
}

#tray menu * {
    background: transparent;
}

#tray menu menuitem:hover {
    background: alpha(@pink, 0.8);
}

#clock {
    font-weight: 500;
}

tooltip {
    font-size: 1.2em;
}
