@import "colors.css";

* {
  font-family: FiraCode Nerd Font;
  font-size: 20px; /* 1 px = 0.05rem */
  font-weight: 400;
}

window#waybar {
  color: white;
  border-radius: 8px;
  background: transparent;
}

/* window#waybar.hidden { */
/*   opacity: 0.2; */
/* } */
/**/
/* #waybar.empty #window { */
/*   background: none; */
/* } */

/* .modules-right, */
/* .modules-center, */
/* .modules-left { */
/* 	background-color: @surface_container; */
/* 	border: 0.5px solid @surface_container; */
/* 	border-radius: 10px; */
/* 	padding-top: 2px; */
/* 	padding-bottom: 2px; */
/* 	padding-right: 4px; */
/* 	padding-left: 4px; */
/* } */


/* First section */
#custom-launcher {
  font-size: 1.2em; /* 24px */
  /*padding: 1px 4px 1px 13px;*/
  padding: .03em .2em .03em .5em;
  color: @on_primary_container;

 	background: alpha(@surface_container, 0.8);
  border-radius: 8px;
}

#workspaces {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.1em 0.05em 0.1em;
  border-radius: 8px;
}

#workspaces button {
 border-radius: 8px;
 background-color: transparent;
 color: @text;
}

#workspaces button.empty {

}

#workspaces button.active {
  color: @on_primary_container;
}

#workspaces button.urgent * {
  color: @on_secondary_container;
}

#workspaces button:hover {
  background: transparent;
  /* border-bottom: 1.5px solid #6272a4; */
}

#wireplumber {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.4em;
  border-radius: 8px;
}

/* Middle section */

#mpris {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.4em;
  border-radius: 8px;
}

/* Last section */

#backlight {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.4em;
  border-radius: 8px;
}

#upower {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.4em;
  border-radius: 8px;
}

#battery {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.4em;
  border-radius: 8px;
}

#battery.warning.charging * {
  color: @text;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @on_error;
    }
}

#network {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.4em;
  border-radius: 8px;
}

#tray {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.6em;
  border-radius: 8px;
}

#tray menu{
  background: alpha(@surface_container, 0.8);
  color: @text;
}

#tray menu menuitem:hover {
  background: alpha(@on_primary_container, 0.8);
}

#clock {
 	background: alpha(@surface_container, 0.8);
  padding: 0.05em 0.4em 0.05em 0.4em;
  font-weight: 500;
  border-radius: 8px;
}

#clock > * {
  color: #FF00FF;
}

tooltip {
	background: alpha(@surface_container, 0.8);
	border-radius: 8px;
  font-size: 24px;
	color: @text;
}
